body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,header,nav,footer,menu,section,aside,article,figure,figcaption{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";margin:0 auto;}
input,a{outline:none;}

.list{
	width:100%;
}
.list_top{
	width:100%;
	text-align: center;
	font-size:12px;
	height:30px;
	line-height:30px;
	color:#333;
}
.list_top h3{
	display: inline-block;
}
.list_top span{
	display: inline-block;
	position: relative;
	top:-5px;
	width:18px;
	height:2px;
	background:#f2f2f2;
	margin-top:5px;
	margin:0 20px;
}
.list_con{
	width:100%;
}
.list_con_top{
	width:100%;
	height:32px;
	border-bottom:1px solid #f2f2f2;
	color:#666;
	font-size:12px;
}
.list_con_top ul{
	width:100%;
	height:32px;
	line-height:32px;
	display: flex;
	justify-content: space-around;
}
.list_con_con{
	width:100%;
	overflow: hidden;
	border-bottom:1px solid #eee;
}
.list_con_con li{
	width:94%;
	min-height:100px;
	margin:4% 3%;
	color:#666;
	font-size:9px;
	overflow: hidden;
}
.list_con_con li div{
	float: left;
}
.list_con_con li div:nth-child(1){
	width:18%;
	height:18%;
	margin-right:3%;
}
.list_con_con li div:nth-child(1) img{
	width:100%;
	height:100%;
}
.list_con_con li div:nth-child(2){
	line-height:20px;
	width:79%;
}
.list_con_con li div:nth-child(2) b{
	font-size:14px;
}
.list_con_con li div:nth-child(2) p:not(:nth-child(4))>span:nth-of-type(2){
	float: right;
}
.list_con_con li div:nth-child(2) p:nth-child(1) span:nth-child(1){
	display: inline-block;
	background:gold;
	padding:0 3px;
	line-height: 16px;
	height:16px;
	margin-top:2px;
}
.list_con_con li div:nth-child(2) p:nth-child(2) span:nth-child(2){
	display: inline-block;
	background-image: linear-gradient(45deg,#0085ff,#0af);
	line-height: 14px;
	height:14px;
	margin-top:4px;
	color:#fff;
	border-radius:2px;
}
.list_con_con li div:nth-child(2) p i{
	font-size:9px;
	color:#f2f2f2;
	font-style: normal;
}
.list_con_con li div:nth-child(2) p:nth-child(4) span:nth-child(2){
	color:red;
}
.list_con_con li div:nth-child(2) p:nth-child(4) span:nth-child(1){
	display: inline-block;
	background:#fff;
	line-height: 12px;
	height:12px;
	margin-top:5px;
	color:#666;
	border:1px solid #f2f2f2;
	border-radius:2px;
	margin-right:3%;
}
.list_con_con li div:nth-child(2) p:nth-child(5) i,.list_con_con li div:nth-child(2) p:nth-child(6) i{
	padding:1px;
	display: inline-block;
	line-height: 14px;
	height:14px;
	margin-top:4px;
	color:#fff;
	border-radius:2px;
	margin-right:2%;
}
.list_con_con li div:nth-child(2) p:nth-child(5) i{
	background-color: rgb(112, 188, 70);
}
.list_con_con li div:nth-child(2) p:nth-child(6) i{
	background-color: rgb(240, 115, 115);
}
